<!DOCTYPE html>
<html lang="en">
  <head>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

  </head>
  <body>
    <div class="container">
      <div class="row top-list">
      	<div class="col-md-6">
      		<a href="{{url_for('categoryList')}}">
      			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Categories
      		</a>
      	</div>
      </div>
      <div class="row divider lightblue">
      	<div class="col-md-12"></div>
      </div>
      <div class="row banner list">
      	<div class="col-md-11 col-md-offset-1 padding-none">
      		<h1>Jeopardy! Question Bank</h1>
      	</div>
      </div>
      <div class="row banner padding-bottom">
      	<div class="col-md-1"></div>
      	<div class="col-md-11 padding-none">
      		<h3>Click to Login</h3>
      	</div>
      	<div class="col-md-1"></div>
      </div>
      <!-- GOOGLE PLUS SIGN IN-->
      <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="signInButton">
              <span class="g-signin"
                data-scope="openid email"
                data-clientid="231006060179-t74s837utggc0t3j9jhteci0mkl6jp8u.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
              </span>
            </div>
            <div class="col-md-1"></div>
  			   </div>
        </div>

      <script>
      function signInCallback(authResult) {
        if (authResult['code']) {

          // Hide the sign-in button now that the user is authorized
          $('#signinButton').attr('style', 'display: none');

          // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main categories page
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result').html('<p>Login Successful!</p></br>'+ result + '</br><p>Redirecting...</p></br>')
               setTimeout(function() {
                window.location.href = "/catalog";
               }, 4000);

              } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }

        }); } }
      </script>

      <!--END GOOGLE PLUS SIGN IN -->

      <!--FACEBOOK SIGN IN -->
      <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
          console.log('statusChangeCallback');
          console.log(response);
          // The response object is returned with a status field that lets the
          // app know the current login status of the person.
          // Full docs on the response object can be found in the documentation
          // for FB.getLoginStatus().
          if (response.status === 'connected') {
            // Logged into your app and Facebook.
            var access_token = response.authResponse.accessToken;
            console.log(access_token);
            // Here we run a very simple test of the Graph API after login is
            // successful.
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
              console.log('Successful login for: ' + response.name);
              $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{STATE}}',
                processData: false,
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                  // Handle or verify the server response if necessary.
                  if (result) {
                    $('#result').html('<p>Login Successful!</p></br>'+ result + '</br><p>Redirecting...</p>')
                    setTimeout(function() {
                      window.location.href = "/catalog";
                    }, 4000);
                  } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                  }
                }
              });
            });
          } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            console.log('Please log into this app.');
          } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            console.log('Please log into Facebook.');
          }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
          });
        }

        window.fbAsyncInit = function() {
        FB.init({
          appId      : '411888595824640',
          cookie     : true,  // enable cookies to allow the server to access
                              // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.8' // use graph api version 2.8
        });

        FB.AppEvents.logPageView();

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });

        };

        // Load the SDK asynchronously
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

      </script>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="signInButton">
              <button>
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                <!--a href='javascript:checkLoginState()'>Login with Facebook</a-->
                </fb:login-button>
              </button>
            </div>
            <div class="col-md-1"></div>
  			   </div>
        </div>

      <!--END FACEBOOK SIGN IN -->

      <!-- Login Result -->
    </br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div id="result"></div>
          <div class="col-md-1"></div>
       </div>
     </div>
    </div>
  </body>
</html>
